{% extends 'base.html' %}
{% load static %}
{% block title %}로그인 / 회원가입 폼 템플릿{% endblock %}
{% block head %}
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
{% endblock %}
{% block content %}



<script>
  // html dom 이 다 로딩된 후 실행된다.
  $(document).ready(function () {
    // menu 클래스 바로 하위에 있는 a 태그를 클릭했을때
    $(".menu>a").click(function () {
      var submenu = $(this).next("ul");

      // submenu 가 화면상에 보일때는 위로 보드랍게 접고 아니면 아래로 보드랍게 펼치기
      if (submenu.is(":visible")) {
        submenu.slideUp();
      } else {
        submenu.slideDown();
      }
    });
  });

  $.ajax({
        type : "GET",
        url : "/api/category_list",
        dataType : 'json',
        success : function(json){
          for(var i = 0; i < json.length; i++){
            $("#mode").append(" "+
            "<tr>"+
              "<th scope='row'>"+json[i].id+"</th>"+
                "<td>"+
                  "<li class='menu'>"+
                    json[i].name+
                "</li>"+
              "</td>"+
              "<td> <li>"+json[i].category_count+"</li></td>"+
             "<td><li>"+json[i].created_at+"</li></td>"+
           "<td>"+
            "<a>"+
              "<button type='submit' id='start' >"+
                "복습 시작"+
              "</button>"+
            "</a>"+
          "</td>"+
        "</tr>)");
              }
          },
        error: function(err){
          console.log(err); //오류발생시 콘솔 로그 출력
        },
      });
  
</script>
<style>
  .menu a {
    cursor: pointer;
  }

  .menu .hide {
    display: none;
  }

  ul {
    list-style: none;
    padding-left: 0%;
    float: left;
  }

  li {
    list-style: none;
    float: left;
  }
  button#start{
    background-color:black;
    width: 100px;
    height: 35px;
    color: white;
    border: 1px solid;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
              
</style>

<header>
  <div style="font-weight: bold; font-size: 30px; margin-top: 1%; margin-left: 3%; margin-bottom: 1%;">
    Category_List
  </div>
  <div style="text-align: right; margin-right: 2rem;">
    <button type="submit" class="Add_Cate" id="Add"
      style="background-color: white; color:black; width: 100px; height: 30px; border-radius: 1rem 1rem 1rem 1rem;">
      Add
    </button>
  </div>
</div>
</header>

<div>
  <a id></a>
</div>
<div>
  <table class="table align-items-center table-flush">
    <thead class="thead-light">
      <tr>
        <th scope="col">No</th>
        <th scope="col">Title</th>
        <th scope="col">
          ReSee_Number
        </th>
        <th scope="col">Last_ReSee</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody id="mode">
      <!-- 생성 시작부분 -->
      <tr>
        <th scope="row">1</th>
        <td>
          <li class="menu">
          </li>
        </td>
        <td> <li>횟수</li></td>
        <td><li>날짜</li></td>
        <td>
          <a>
            <button type="submit" id="start" onclick="bob()" >
              복습 시작
            </button>
          </a>
        </td>
      </tr>
      <!-- 끝 부분 -->
    </tbody>
  </table>
</div>

<script type="text/javascript">

  $(document).ready(function(){
    // add버튼 클릭시 
    $(".Add_Cate").click(function(){
      var input = prompt();
      var name = input.trim();
      if(name == ""){
          alert("값을 입력해주세요");
      }else{
        //Post 보내기
        $.ajax({
          type: "POST",
          url: "{% url 'cate_list' %}",
          headers : {
            'X-CSRFTOKEN' : '{{ csrf_token }}'
          },
          data :{
            name
          }, 
          dataType: "json",
          success : function(json) {
            alert("성공");
          },
          error: function (request, status, error) {
            alert("code:" + request.status + "\n" + "error:" + error);
          }
        });
      }
      //GET으로 받기
      $.ajax({
        type : "GET",
        url : "/api/category_list",
        dataType : 'json',
        success : function(json){
          $("#mode").append(" "+
            "<tr>"+
              "<th scope='row'>"+json[0].id+"</th>"+
                "<td>"+
                  "<li class='menu'>"+
                    json[0].name+
                "</li>"+
              "</td>"+
              "<td> <li>"+json[0].category_count+"</li></td>"+
             "<td><li>"+json[0].created_at+"</li></td>"+
           "<td>"+
            "<a>"+
              "<button type='submit' id='start' >"+
                "복습 시작"+
              "</button>"+
            "</a>"+
          "</td>"+
        "</tr>)");
          },
        error: function(err){
          console.log(err); //오류발생시 콘솔 로그 출력
        },
      });

      

      })
    })

    // function bob(){
    //   $.ajax({
    //     type : "GET",
    //     url : "/api/category_list",
    //     dataType : 'json',
    //     success : function(json){
    //       $.each(json, function(index,item){

    //       });
    //     },
    //     error: function(err){
    //       console.log(err); //오류발생시 콘솔 로그 출력
    //     },
    //   });
    // }
</script>

{% endblock %}