{% extends 'base.html' %}
{% load static %}
{% block title %}복습하기{% endblock %}
{% block head %}
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
{% endblock %}
{% block content %}


<script>
  //카테고리 리스트 GET으로 가져오기
  $.ajax({
    type: "GET",
    url: "/api/category_list/",
    dataType: 'json',
    success: function (json) {
      for (var i = 0; i < json.length; i++) {
        $("#cate_board").append(" " +
          "<tr>" +
          "<td>" +
          "<li class='menu'>" +
          "<a href='/category_list/"+json[i].id+"/study_list' id='name"+json[i].id+"'>"+
          json[i].name +
          "</a>"+
          "</li>" +
          "<a href='#' id=' edit"+json[i].id+" ' onclick='edit_click(this.id)'>"+
          "<img src= {% static 'img/edit.png' %}>"+   
          "</a>"+
          "</td>" +
          "<td><li>" + json[i].created_at + "</li></td>" +
          "<td>" +
          "<a>" +
          "<button type='submit' id='start' >" +
          "시작" +
          "</button>" +
          "<a id='clear"+json[i].id+"' href='#'  onclick='reply_click(this.id)'>"+
          "<img src= {% static 'img/clear.png' %}>"+  
          "</a>"+
          "</td>" +
          "</tr>)");  
        }
      },
      error: function (err) {
        console.log(err); //오류발생시 콘솔 로그 출력
      },
    });
    
  </script>

<style>
  
  body{
    background-color: rgb(233, 233, 233);
  }
  .menu a {
    cursor: pointer;
  }
  
  .menu .hide {
    display: none;
  }
  
  ul {
    list-style: none;
    padding-left: 0%;
    float: left;
  }
  img{
    background-color:rgb(233, 233, 233);
    border: none;
    margin-left: 7%;
  }
  li {
    list-style: none;
    float: left;
  }
  #Add{
    background-color: rgb(0, 0, 0);
    color:white;
    width: 100px;
    height: 30px;
    margin-right: 15%;
    border:solid 1px rgb(0, 0, 0);
    border-radius: 0.5rem .5rem .5rem .5rem;
    text-shadow:-1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
  }

  button#start {
    background-color: black;
    width: 100px;
    height: 35px;
    color: white;
    border: 1px solid;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
</style>


<header>
  <div style="margin-left: 15%; margin-top: 1%;">
    <a style="font-size: 20px; font-weight: bold; color: rgb(42, 41, 41);">
      Category_List
    </a>
    </div>
    <div style="text-align: right;">
      <button type="submit" class="Add_Cate" id="Add" >
        Add
      </button>
  </div>
  </div>
</header>

  <div style="margin-left: 15vw; margin-right: 15vw;">
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Last_ReSee</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody id="cate_board">
      <!-- 생성 시작부분 -->
      
      <!-- 끝 부분 -->
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    // add버튼 클릭시 
    $(".Add_Cate").click(function () {
      var input = prompt("과목 이름을 입력해주세요", "");
      var name = input.trim();

      if (name == "") {
        alert("값을 입력해주세요");
      } else {
        //Post 보내기
        $.ajax({
          type: "POST",
          url: "/api/category_list/",
          headers: {
            'X-CSRFTOKEN': '{{ csrf_token }}'
          },
          dataType: "json",
          data: {
            name
          },
          success: function (json) {
            //에러메세지가 없을때 (과목정보값이 20글자 미만일때)
            if (json.msg == null) {
              alert("성공");
              //GET으로 받기
              $.ajax({
                type: "GET",
                url: "/api/category_list/",
                dataType: 'json',
                success: function (json) {
                  $("#cate_board").append(" " +
                  "<tr>"+
                    "<td>"+
                      "<li class='menu'>" +
                        "<a href='/category_list/" + json[json.length - 1].id + "/study_list'>" +
                          json[json.length - 1].name +
                          "</a>" +
                          "</li>" +
                          "<a>" +
                            "<img src= {% static 'img/edit.png' %}'>" +
                            "</a>" +
                            "</td>" +
                            "<td><li>" + json[json.length - 1].created_at + "</li></td>" +
                            "<td>" +
                              "<a>" +
                                "<button type='submit' id='start' >" +
                                  "시작" +
                                  "</button>" +
                                  "<a id='clear"+json[json.length -1].id+"' href='#'  onclick='reply_click(this.id)'>" +
                                    "<img src= {% static 'img/clear.png' %}>" +
                                    "</a>" +
                                    "</td>" +
                                    "</tr>)");
                                  },
                                  error: function (err) {
                                    console.log(err); //오류발생시 콘솔 로그 출력
                                  },
                                });
                                //20글자 이상일때는 에러메시지를 보여준다
                              } else if (json.msg != null) {
                                alert(json.msg);
                              }
                            },
          //Post 실패시 에러
          error: function (request, status, error) {
            alert("code:" + request.status + "\n" + "error:" + error);
          }
        });
      }
    })
  })

  function reload(){
    window.location.reload()
  }
  
  function reply_click(clicked_id) {
    let str=clicked_id.split("clear")[1]
    $.ajax({
      method: "DELETE",
      url: "/api/category_list/" + str + "/",
      dataType: "json",
      headers: {
        'X-CSRFTOKEN': '{{ csrf_token }}'
      },
      success: function (json) {
        alert("삭제 성공!");
          reload();
        },
        error: function ( error ) {
          alert(" error = " + error); // 실패 시 처리
        },
      });
    }
    
    
    function edit_click(clicked_id){
      let std=clicked_id.split("edit")[1]
      let name=prompt("Input Category_Title")
      $.ajax({
        method : "PUT",
        url: "/api/category_list/" + std + "/",
        dataType: "json",
        headers: {
          'X-CSRFTOKEN': '{{ csrf_token }}'
        },
        data: {
          name
        },
        success : function(json){
          alert(" 수정 완료 ")
          reload();
        },
        error : function(error){
          alert(error);
        }
      });
    }
  </script>

{% endblock %}