{% extends 'base.html' %}
{% load static %}
{% block title %}PayPlan{% endblock %}
{% block content %}

<script>
    function free() {
        $.ajax({
            method: "POST",
            url: "/payplan"
        })
    }


</script>

<form id="payplan" action="" class="input-group-adon" method="post">
    <div class="container body-content">
    
        <div class="container">
    
            <div class="row justify-content-start" style="padding-top:10px;">
    
                <div class="col" style="padding-top:10px;">
    
    
                    <img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;"
                        src="{% static 'img\free.png' %}" />
    
                </div>
                <div class="col" style="padding-top:10px;">
    
                    <img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;"
                        src="https://upload3.inven.co.kr/upload/2021/09/04/bbs/i16457772723.png" />
    
                </div>
                <div class="col" style="padding-top:10px;">
    
                    <img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;"
                        src="https://dimg.donga.com/wps/NEWS/IMAGE/2020/08/18/102540363.1.jpg" />
    
                </div>
            </div>
            <div class="row justify-content-start" style="padding-top:10px;">
    
                <div class="col" style="padding-top:10px;">
                    <label>Free</label>
    
                </div>
                <div class="col" style="padding-top:10px;">
                    <label>Primium</label>
    
                </div>
                <div class="col" style="padding-top:10px;">
                    <label>Maximum</label>
    
                </div>
            </div>
            <div class="row justify-content-start" style="padding-top:10px;">
    
                <div class="col" style="padding-top:10px;">
                    <p class="text-black-50">
                        무료가.. 말대꾸?
                    </p>
                </div>
                <div class="col" style="padding-top:10px;">
                    어서오십시오. 고갱님
                </div>
                <div class="col" style="padding-top:10px;">
                    Wellcome To ReSee !
                    <br />
                    Have a Nice Day
                </div>
            </div>
            <div class="row justify-content-start" style="padding-top:10px;">
    
                <div class="col" style="padding-top:10px;">
                    <label>$ No hair</label>
    
                </div>
                <div class="col" style="padding-top:10px;">
                    <label>$ 9.99</label>
    
                </div>
                <div class="col" style="padding-top:10px;">
                    <label>$ 19.99</label>
    
                </div>
            </div>
            <div class="row justify-content-start" style="padding-top:10px;">
    
                <div class="col" style="padding-top:10px;">
                    <button class="btn btn-primary" type="submit" name="name" value="FREE" id="free" onclick="free()"> Get Out here</button>
                </div>
                <div class="col" style="padding-top:10px;">
                    <button class="btn btn-primary" type="submit" name="name" value="PRIMIUM" id="primium" onclick="primium()">구매하기</button>
                </div>
                <div class="col" style="padding-top:10px;">
                    <button class="btn btn-primary" type="submit" name="name" value="MAXIMUM" id="maximum" onclick="maximum()">구매하기</button>
                </div>
    
        </div>

    </div>
</form>
{% endblock %}