{% extends 'base.html' %}
{% load static %}
{% block title %}로그인 / 회원가입 폼 템플릿{% endblock %}
{% block head %}

{% endblock %}
{% block content %}
<script>

    </script>
<style>
	div#study{
		margin:30px 20px;
	}
	input#topic{
        width: 30vw;
        border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
        padding:10px 10px 10px 10px;
    }#content{
        width : 90vw;
        height: 30vw;
        border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
</style>

<!-- 임시로 만들었음 조금더 자유도 높은 채팅 구현 -->
<div id="study">
	<div>
		<p>Study Topic</p>
        <input type="text" id = "topic">
    </div>
	<div>
		<p>Study_Contect</p>
		<input type="text" id="content">
		</p>
	</div>
</div>
<div style="text-align: right; margin-right: 8%;">
    <button type="submit" id="Add_Button" onclick="add()">
        Add_Study
    </button>
</div>

<script>
    function add(){
        var link = document.location.href.split("/")[4];
        var study_title = $('#topic').val();
        var study_content = $('#content').val();
        var category = link;
        $.ajax({
            type : "POST",
            url: "/api/category_list/" + link+ "/study_list/",
            dataType : "json",
            headers: {
                'X-CSRFTOKEN': '{{ csrf_token }}'
            },
            data : {
                study_title,
                study_content,
                category
            },
            success: function(json){
                alert("성공");
                location.href = "/category_list/" + link+ "/study_list/";
            },
            error:function(request,status,error){
                alert("code:"+request.status+"\n"+"error:"+error);
            }  
    });
    }
</script>
{% endblock %} 