{% extends 'base.html' %}
{% load static %}
{% block title %}로그인 / 회원가입 폼 템플릿{% endblock %}
{% block head %}

{% endblock %}
{% block content %}
<script>
  
</script>
<style>
 .menu a{cursor:pointer;}
 .menu .hide{display:none;}
 ul{
   list-style: none;
   padding-left: 0%;
   float: left;
 }
 li{
   list-style: none;
   float: left;
 }
</style>

<header style="font-weight: bold; font-size: 30px; margin-top: 1%; margin-left: 3%; margin-bottom: 1%;">
  Study_list
</header>
<div>
  <a></a>
</div>
<div>
  <table class="table align-items-center table-flush">
    <thead class="thead-light">
      <tr>
        <th scope="col">No</th>
        <th scope="col">Title</th>
        <th scope="col">Last_ReSee</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody id=study_board>

      

    </tbody>
  </table>

</div>
<script>
  var link = document.location.href.split("/")[4];
  $.ajax({
      type : "GET",
      url: "/api/category_list/"+link+"/study_list" ,
      dataType :'json',
      success: function(json){
        alert(JSON.stringify(json.length));
      for (i = 0; i < json.length; i++) {
        $("#study_board").append(" " +
          "<tr>" +
          "<th scope='row'>" +json[i].id + "</th>" +
          "<td>" +
          "<li class='menu'>" +
          "<a>" + json[i].study_title + "</a>" +
          "</li>" +
          "</td>" +
          "<td>" + json[i].updated_at + "</td>" +
          "<td>" +
          "<a>" +
          "<button style='background-color:black; width: 100px; height: 35px;" +
          "color: white; border: 1px solid; border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;'>" +
          "내용보기" +
          "</button>" +
          "</a>" +
          "</td>" +
          "</tr>"
        )
      }
    }
  });
</script>
{% endblock %}