{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    a#dropdownMenuButton1 {
      text-decoration: none;
      color: black;
    }
    div ul li#login_temp {
      position: relative;
      left: 40vw;
    }
  </style>
</head>



<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid" style="margin-top: 10px; margin-bottom: 10px; margin-left: 13%;">
      <a class="navbar-brand" href="/">ReSee</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'cate_list' %}">복습하기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'PayPlan' %}">구독하기</a>
          </li>
          {% if user.is_admin%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admins_list' %}">admin_page</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
          {% endif%}

          {% if user.is_active %}
          <li class="nav-item" id="login_temp">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          <li class="nav-item" id="login_temp">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                {{ request.user.full_name }}
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/category_list">My Page</a></li>
                <li><a class="dropdown-item" href="setting">Setting</a></li>
                <li>
                  <a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a>
                </li>
              </ul>
            {% else %}
          <li  id="login_temp">
            <a class="nav-link" href="{% url 'login'  %}">Sign Up</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

</body>

</html>