        

        body {
            background-color: rgb(255, 255, 255);
        }

        /* 메인 컨텐트 */
        div#main_content {
            width: 100%;
            text-align: center;
            margin-top: 5%;
        }

        a:link {
            color: black;
            text-decoration: none;
        }

        a:visited {
            color: black;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        /* 유저 정보(id,password) */
        div#user_info {
            border: 1px solid black;
            border-radius: 10px 10px 10px 10px;
            position: relative;
            width: 480px;
            padding: 30px 10px 10px 10px;
            display: inline-block;
            text-align: left;
        }

        /* 로그인버튼 */
        button#login_button {
            width: 90%;
            height: 36.5px;
            background-color: rgb(233, 101, 101);
            border: 0px;
            margin: 18px 0 10px 0;
            padding: 5px 5px 5px 5px;
        }
        